// headlines
h1, h2, h3, h4{
	display: block;
	margin: 10px 0 10px 0;
	padding: 0;
	font-weight: bold;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 26px;
	margin-bottom: 15px;
}

h3{
	font-size: 24px;
	margin-bottom: 10px;
}

h4{
	font-size: 22px;
	margin-bottom: 10px;
}

// html elements
hr{
	width: 100%;
	height: 1px;
	background: $light_gray;
	margin: 20px 0 20px 0;
	border-width: 0;
}

a{
	color: $highlight;
	text-decoration: none;
}

a:hover{
	color: $font_color;
}

p{
	margin: 10px 0 10px 0;
	padding: 0;
}

table{
	margin: 10px 0 10px 0;
	width: 100%;
	display: border-box;

	tr{
		padding: 0;
		margin: 0;

		td{
			padding: 5px;
			margin: 0;
		}
		
		td.w5{
			width: 5%;
		}

		td.w10{
			width: 10%;
		}

		td.w15{
			width: 15%;
		}

		td.w20{
			width: 20%;
		}

		td.w25{
			width: 25%;
		}

		td.w30{
			width: 30%;
		}

		td.w33{
			width: 33.33%;
		}

		td.w40{
			width: 40%;
		}

		td.w50{
			width: 50%;
		}
	}

	thead{
		tr{
			background: $dark_gray;
			color: #fff;
		}
	}

	tbody{
		td{
			border-style: solid;
			border-color: $highlight;
			border-width: 0 0 1px 0;
		}
	}
}

table.small{
	width: auto;
	font-size: $font_size;
}

td.top{
	vertical-align: top;
	padding-top: 12px;
}

img{
	max-width: 100%;
	margin: 10px 0 10px 0;
}

// input
input, select, textarea, button, a.button{
	@extend .font;

	display: inline-block;
	padding: 5px;
	margin: 5px 0 5px 0;
	border: 1px solid $gray;
	border-width: 0 0 1px 0;
	border-radius: 1px;
	background: #fff;

	.fa{
		margin: 0 5px 0 0;
	}
}

input:focus, select:focus, textarea:focus{
	border-color: $gray;
}

.full-width, textarea{
	box-sizing: border-box;
	width: 100%;
}

input.w5{
	width: 5%;
}

input.w10{
	width: 10%;
}

input.w20{
	width: 20%;
}

input.w30{
	width: 30%;
}

input.w50{
	width: 50%;
}

input.w70{
	width: 70%;
}

textarea{
	min-height: 100px;
	border-width: 1px;
}

input[type~="submit"], button, a.button{
	@extend .shadow-l1;

	background: $highlight;
	border-width: 0;
	color: #fff;
	padding: 5px 15px 5px 15px;
}

input[type~="submit"]:hover, button:hover, a.button:hover{
	cursor: pointer;
	animation-name: shadow1to3;
	animation-duration: $shadow_animation_speed;
	animation-fill-mode: forwards;
}

input[type~="checkbox"]{
	width: auto;
}

input.no-margin, button.no-margin{
	margin: 0;
}

a.button{
	.fa{
		margin: 0 5px 0 0;
	}
}
