@import "roboto.scss";
@import "fa/font-awesome.scss";
@import "shadow.scss";

$font_family: "Roboto";
$font_size: 16px;
$font_size_small: 12px;
$font_color: #333;
$line_height: 1.5;

$bg_color: #fff;

.font{
	font-family: $font_family;
	font-size: $font_size;
	color: $font_color;
}

html, body{
	@extend .font;

	padding: 0;
	margin: 0;
	line-height: $line_height;
	background: $bg_color;
}
