<div>
	<hmenu></hmenu>

	<div class="main">
		<h1>Status</h1>

		<div class="box" v-if="startInstance">
			<div class="wrapper">
				<h2>Start New Instance</h2>

				<msg :type="\'error\'" :msg="\'Error starting server instance.\'" v-if="err != 0 && err != 200"></msg>
				<msg :type="\'error\'" :msg="\'You have no permission to do this.\'" v-if="err == 200"></msg>

				<form v-on:submit.prevent="performStart()">
					<table>
						<tr>
							<td class="w20">Name:</td>
							<td><input type="text" name="name" class="full-width" v-model="name" /></td>
						</tr>
						<tr>
							<td>Configuration:</td>
							<td>
								<select name="configuration" v-model="config">
									<option v-for="c in configs" v-bind:value="c.id">{{c.name}}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="Start" />
								<button v-on:click="startInstance = false">Cancel</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>

		<div class="box" v-if="stopInstance">
			<div class="wrapper">
				<h2>Stop Instance</h2>

				<msg :type="\'error\'" :msg="\'You have no permission to do this.\'" v-if="err == 200"></msg>

				<p>Do you really want to stop this server instance?</p>

				<button v-on:click="performStop()">Yes, stop instance</button>
				<button v-on:click="stopInstance = false">Cancel</button>
			</div>
		</div>

		<div class="box">
			<div class="wrapper">
				<h2>Active Server Instances</h2>

				<msg :type="\'success\'" :msg="\'The server instance has been started.\'" v-if="started"></msg>
				<msg :type="\'success\'" :msg="\'The server instance has been stopped.\'" v-if="stopped"></msg>

				<button v-on:click="startInstance = true">Start New Instance</button>

				<table>
					<thead>
						<tr>
							<td class="w5">PID</td>
							<td class="w40">Instance</td>
							<td class="w40">Configuration</td>
							<td class="w15"></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="instance in instances">
							<td>{{instance.pid}}</td>
							<td>{{instance.name}}</td>
							<td>{{instance.configuration}}</td>
							<td>
								<!--<i class="fa fa-terminal" aria-hidden="true" title="Show console output"></i>-->
								<i class="fa fa-stop" aria-hidden="true" title="Stop instance" v-on:click="showStopInstance(instance.pid)"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="box">
			<div class="wrapper">
				<h2>Log Files</h2>

				<table>
					<thead>
						<tr>
							<td class="w50">Filename</td>
							<td class="w35">Date</td>
							<td class="w15"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>2</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
