<div class="login">
	<div class="box">
		<div class="wrapper">
			<div class="center">
				<img src="img/aclogo.png" alt="" />
			</div>

			<h1>Login</h1>

			<table>
				<tr>
					<td>Login:</td>
					<td><input type="text" name="login" v-model="login" class="full-width" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="pwd" v-model="pwd" class="full-width" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login" /></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="version">
		<div class="wrapper">
			Version {{version}} | <a href="https://github.com/DeKugelschieber/acweb" target="_blank">GitHub</a>
		</div>
	</div>
</div>
