<div>
	<hmenu></hmenu>

	<div class="main">
		<div class="box">
			<div class="wrapper">
				<h1>Settings</h1>

				<table>
					<tr>
						<td class="w20">AC server folder:</td>
						<td><input type="text" name="path" class="full-width" /></td>
					</tr>
					<tr>
						<td class="w20">Command:</td>
						<td><input type="text" name="cmd" class="full-width" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Save" /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
