<div>
	<hmenu admin="true"></hmenu>
	<vmenu></vmenu>

	<div class="main">
		<div class="wrapper">
			<div class="box">
				<h3>Nutzer hinzufügen/bearbeiten</h3>

				<msg type="error" msg="Es existiert bereits ein Nutzer mit diesem Login/dieser E-Mail."></msg>
				<msg type="error" msg="Alle Pflichtfelder müssen gesetzt sein."></msg>
				<msg type="error" msg="Die Passwörter stimmten nicht überein."></msg>
				<msg type="error" msg="Das Passwort entspricht nicht den Passwort Richtlinien."></msg>
				<msg type="error" msg="Du hast keine Berechtigung dies zu tun."></msg>

				<form v-on:submit="addEditUser()">
					<table class="no-borders">
						<tr>
							<td class="w20">Login*:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>E-Mail*:</td>
							<td><input type="email" name="" /></td>
						</tr>
						<tr>
							<td>Vorname:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>Nachname:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>Straße/Hausnummer:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>PLZ/Ort:</td>
							<td>
								<input type="text" name="" />
								<input type="text" name="" />
							</td>
						</tr>
						<tr>
							<td>Telefon:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>Mobil:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td>Passwort**:</td>
							<td><input type="password" name="" /></td>
						</tr>
						<tr>
							<td>Passwort wiederholen**:</td>
							<td><input type="password" name="" /></td>
						</tr>
						<tr>
							<td>Rollen:</td>
							<td>
								<table class="no-borders">
									<tr>
										<td class="min"><input type="checkbox" name="" /></td>
										<td>{role.name}</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="Speichern" />
								<button v-on:click.prevent="showAddEditUser = false">Abbrechen</button>
							</td>
						</tr>
					</table>
				</form>

				<hr />

				* Pflichtfelder<br />
				** wird nur aktualisiert wenn gesetzt, muss aus Buchstaben, Zahlen und Sonderzeichen bestehen
			</div>

			<div class="box">
				<h3>Nutzer löschen</h3>

				<msg type="error" msg="Der Nutzer konnte nicht gelöscht werden. Evt. fehlen dir die notwendigen Rechte."></msg>

				Soll der ausgewählte Nutzer wirklich gelöscht werden?

				<div class="yes-no">
					<button v-on:click="doRemoveUser()">Ja, Nutzer löschen</button>
					<button v-on:click="showRemoveUser = false">Abbrechen</button>
				</div>
			</div>

			<div class="box">
				<h3>Rolle hinzufügen/bearbeiten</h3>

				<msg type="error" msg="Es existiert bereits eine Rolle mit diesem Namen."></msg>
				<msg type="error" msg="Alle Pflichtfelder müssen gesetzt sein."></msg>
				<msg type="error" msg="Du hast keine Berechtigung dies zu tun."></msg>

				<form v-on:submit="addEditRole()">
					<table class="no-borders">
						<tr>
							<td class="w20">Name*:</td>
							<td><input type="text" name="" /></td>
						</tr>
						<tr>
							<td class="top">Rechte**:</td>
							<td>
								<input type="checkbox" name="" /> ERP Login<br />
								<input type="checkbox" name="" /> Nutzer erstellen und bearbeiten<br />
								<input type="checkbox" name="" /> Nutzer Passwörter ändern<br />
								<input type="checkbox" name="" /> Nutzer löschen<br />
								<input type="checkbox" name="" /> Rollen erstellen und bearbeiten<br />
								<input type="checkbox" name="" /> Rollen löschen<br />
								<input type="checkbox" name="" /> Protokoll einsehen<br />
								<input type="checkbox" name="" /> Medien einsehen<br />
								<input type="checkbox" name="" /> Medien Ordner/Dateien erstellen und bearbeiten<br />
								<input type="checkbox" name="" /> Medien Ordner/Dateien löschen<br />
								<input type="checkbox" name="" /> Sprachen hinzufügen/bearbeiten<br />
								<input type="checkbox" name="" /> Sprachen löschen<br />
								<input type="checkbox" name="" /> Seiten hinzufügen/bearbeiten<br />
								<input type="checkbox" name="" /> Seiten löschen<br />
								<input type="checkbox" name="" /> Menü hinzufügen/bearbeiten<br />
								<input type="checkbox" name="" /> Menü löschen<br />
								<input type="checkbox" name="" /> Allgemeine Einstellungen bearbeiten<br />
								<input type="checkbox" name="" /> Newsletter bearbeiten<br />
								<input type="checkbox" name="" /> Newsletter löschen<br />
								<input type="checkbox" name="" /> Newsletter schreiben und senden<br />
								<input type="checkbox" name="" /> Artikel erstellen, bearbeiten und löschen<br />
								<input type="checkbox" name="" /> Artikel Kategorien erstellen, bearbeiten und löschen<br />
								<input type="checkbox" name="" /> Template wechseln<br />
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="Speichern" />
								<button v-on:click.prevent="showAddEditRole = false">Abbrechen</button>
							</td>
						</tr>
					</table>
				</form>

				<hr />

				* Pflichtfelder<br />
				** es muss mindestens ein Recht gesetzt werden
			</div>

			<div class="box">
				<h3>Rolle löschen</h3>

				Soll die ausgewählte Rolle wirklich gelöscht werden? Alle Nutzer die diese Rolle haben verlieren sie.

				<div class="yes-no">
					<button v-on:click="doRemoveRole()">Ja, Rolle löschen</button>
					<button v-on:click="showRemoveRole = false">Abbrechen</button>
				</div>
			</div>

			<tabs v-bind:tabs="tabs"></tabs>

			<div class="box" v-if="tabs[0].show">
				<h2>Nutzer</h2>

				<msg type="success" msg="Der Nutzer wurde erfolgreich hinzugefügt/gespeichert."></msg>
				<msg type="success" msg="Der Nutzer wurde erfolgreich gelöscht."></msg>

				<button v-on:click="editUser(0)">Nutzer hinzufügen</button>

				<table>
					<thead>
						<tr>
							<td class="w20">Login</td>
							<td class="w20">E-Mail</td>
							<td class="w20">Name</td>
							<td class="w20">Status</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">Du hast keine Berechtigung dies zu sehen.</td>
						</tr>
						<tr>
							<td>{user.login}</td>
							<td>{user.email}</td>
							<td>{user.firstname} {user.lastname}</td>
							<td>
								<span>aktiv</span>
								<span>inaktiv</span>
								<span>gesperrt</span>
							</td>
							<td>
								<i class="material-icons" v-on:click="editUser(user.id)">edit</i>
								<i class="material-icons" v-on:click="removeUser(user.id)">delete</i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="box" v-if="tabs[1].show">
				<h2>Rollen</h2>

				<msg type="success" msg="Die Rolle wurde erfolgreich hinzugefügt/gespeichert."></msg>
				<msg type="success" msg="Die Rolle wurde erfolgreich gelöscht."></msg>

				<button v-on:click="editRole(0)">Rolle hinzufügen</button>

				<table>
					<thead>
						<tr>
							<td class="w45">Name</td>
							<td class="w45">Status</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">Du hast keine Berechtigung dies zu sehen.</td>
						</tr>
						<tr>
							<td>{role.name}</td>
							<td>
								<span>aktiv</span>
								<span>inaktiv</span>
								<span>gesperrt</span>
							</td>
							<td>
								<i class="material-icons" v-on:click="editRole(role.id)">edit</i>
								<i class="material-icons" v-on:click="removeRole(role.id)">delete</i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
